#row__toggle{
    margin-right: 0;
    margin-left: 0;
    #dropdown-basic{
        width: 100%;
        padding: 4px;
        color: white;
        border-radius: 4px;
        border: 1px solid #7ea4ff;
        background-Color: rgb(27, 48, 96);
    }
    #dropdown-basic:hover{
        cursor: pointer;
        border: 1px solid white;
    }
    #dropdown-basic:active, #dropdown-basic:focus{
        border: none;
    }
}