.card-tasks {
  height: 473px;

  .tableChart{
    overflow-y: scroll;
    overflow-x: hidden
  }
  .tableChart::-webkit-scrollbar{
    width: 5px;
    border-radius: 8px;
    margin-left: 20px;
  }
  .tableChart::-webkit-scrollbar-thumb{
    background-color: #6c757d;
    height: 20px;
    width: 5px;
    border-radius: 8px;
  }
  .tableChart::-webkit-scrollbar-track{
    width: 5px;
    border-radius: 8px;
  }

  .table-full-width {
    max-height: 410px;
    position: relative;
  }

  .card-header {
    .title {
      margin-right: 20px;
      font-weight: $font-weight-normal;
    }

    .dropdown {
      float: right;
      color: darken($white, 20%);
    }
  }

  .card-body {
    i {
      color: $dark-gray;
      font-size: 1.4em;
      &:hover {
        color: $white;
      }
    }
  }
}
