.card-chart {
  overflow: hidden;
  height: 420px;
  .row{
    margin: auto -15px;
    display: flex;
    gap: 16px;
    button{
      border: 1px solid #fff;
      padding: 15px;
      border-radius: 10px;
      transition: all .5s ease-in;
      box-shadow: 0 0 8px 0 black;
      h5{
        margin: 0 auto;
        font-weight: 600;
      }
    }
    button:hover{
      border: 1px solid #000;
      background-color: #1b3060;
      box-shadow: 0 0 8px 0 #191e32;
      h5{
        color: #42f593;
      }
    }
  }
  .card-header{
    .card-title{
      i{
        font-size: 16px;
        margin-right: 5px;
        margin-bottom: 3px;
      }
    }
    .card-category{
      margin-bottom: 5px;
    }
  }
    .card-body{
      padding-left: 5px;
      padding-right: 5px;
      .tab-space{
        padding: 0;
      }
    }
  .table{
    margin-bottom: 0;

    td{
      border-top: none;
      border-bottom: 1px solid rgba($white,0.1);
    }
  }

  .card-progress {
    margin-top: 30px;
    padding: 0 10px;
  }

  .chart-area {
    padding: 0 10px;
    height: 220px;
    width: 100%;
    strong{
      color: #6c757d;
      font-weight: 500;
    }
    p{
      color: #fff;
    }
  }

  #infoApi{
    overflow-y: scroll;
  }
  #infoApi::-webkit-scrollbar{
    width: 5px;
    border-radius: 8px;
    margin-right: 8px;
  }
  #infoApi::-webkit-scrollbar-thumb{
    background-color: #6c757d;
    height: 20px;
    width: 5px;
    border-radius: 8px;
  }
  #infoApi::-webkit-scrollbar-track{
    width: 5px;
    border-radius: 8px;
  }

  .card-footer {
    margin-top: 15px;

    .stats{
      color: $dark-gray;
    }
  }

  .dropdown{
    position: absolute;
    right: 20px;
    top: 20px;

    .btn{
      margin: 0;
    }
  }

  &.card-chart-pie{
    .chart-area{
      padding: 10px 0 25px;
      height: auto;
    }

    .card-title{
      margin-bottom: 10px;
      i{
        font-size: 1rem;
      }
    }

  }

}
