#card__style{
    background: rgb(13,15,25);
    background: linear-gradient(90deg, rgba(13,15,25,1) 19%, rgba(46,101,230,1) 88%) !important;
}
.main{
    &__link{
        border-radius: 10px;
        border: 1px solid #B4B8C5;
        box-shadow: 0 0 15px 2px #B4B8C5;
        &--button{
            font-weight: 500;
            color: #B4B8C5;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}