.footer{
    padding: 24px 0 24px 250px;

    [class*="container-"] {
      padding: 0;
    }

      .container-fluid{
        display: grid;
        place-items: center;
        gap: 10px;
        text-align: center;
      }

    .nav{
        display: inline-block;
        margin-bottom: 0;
        list-style: none;
    }

    .nav-item{
      display: inline-block;
      .linkGit{
        color: #ba54f5;
        cursor: pointer;
        transition: all .2s ease-in;
      }
      .linkGit:hover, .linkGit:active{
        padding: 4px 0;
        border-bottom: 1px solid white;
      }
    }

    .nav-link {
      color: $white;
      padding: 0 $padding-base-vertical;
      font-size: $font-size-sm;
      text-transform: uppercase;
      text-decoration: none;

      &:hover{
          text-decoration: none;
      }
    }



    .copyright{
        font-size: $font-size-sm;
        line-height: 1.8;
        color: $white;
    }

    &:after{
        display: table;
        clear: both;
        content: " ";
    }
}


@media screen and (max-width: 991px){
  .footer {
    padding-left: 0px;

    .copyright {
      text-align: center;
    }
  }
}

@media screen and (min-width: 992px){
  .footer {
    .copyright {
      float: right;
      padding-right: 30px;
    }
  }
}

@media screen and (max-width: 768px){
  .footer {
    nav {
      display: block;
      margin-bottom: 5px;
      float: none;
    }
  }
}

@media screen and (max-width: 576px){
  .footer {
    text-align: center;
    .copyright {
      text-align: center;
    }

    .nav{
      float: none;
      padding-left: 0;
    }
  }
}
